asy/
evan.sty
olympiad.asy
postcalnotes-1.asy
postcalnotes-1.pdf
postcalnotes.aux
postcalnotes.aux
postcalnotes.fdb_latexmk
postcalnotes.fls
postcalnotes.log
postcalnotes.out
postcalnotes.pre
postcalnotes.synctex.gz
postcalnotes.toc
x.tex
